---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-0.5 lg:gap-2">
		<Icon icon="sun" color="var(--accent-regular)" size="1.5rem" />
		<h2>Strong-willed</h2>
		<p>I thrive on difficulty. Whether it’s mastering a new language, solving complex bugs, or pushing my limits, I stay focused, consistent, and relentless.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="pencil-line" color="var(--accent-regular)" size="1.5rem"  />
		<h2>Creative Thinker</h2>
		<p>I bring ideas to life through design, code, and storytelling. I see patterns others miss and craft experiences that are both intuitive and original.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="1.5rem"  />
		<h2>Analytical Problem Solver</h2>
		<p>Every challenge is a puzzle. I break down complexity, ask the right questions, and find solutions that are simple, scalable, and smart.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="rocket-launch" color="var(--accent-regular)" size="1.5rem"  />
		<h2>Relentlessly Curious</h2>
		<p>I learn fast, dig deep, and never stop improving. What drives me isn’t just finishing — it’s mastering, refining, and pushing beyond what’s expected.</p>
	</div>
</section>


<style>
	.box {
	border: 1px solid var(--gray-100);
	border-radius: 0.75rem;
	padding: 1.5
	
	
	rem;
	background-color: hsla(var(--gray-100));
	box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-999);
	}


	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
