---
// Astro Layout Setup
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body>
		<div class="stack backgrounds">
			<Nav />
			<slot />
			<Footer />
		</div>

		<style>
			body {
				margin: 0;
				color: rgba(253, 194, 203, 0.918);
				font-weight: 600;
			}

			.backgrounds {
				min-height: 100vh;
				background: 
					linear-gradient(rgba(91, 57, 216, 0.329), rgba(36, 33, 206, 0.226)),
					url('/assets/backgrounds/dz.jpg') center/cover no-repeat;
				background-attachment: fixed;
				backdrop-filter: blur(2px); /* optional: adds subtle polish */
			}
		</style>
	</body>
</html>

